body{
    *{
        font-family: 'Quicksand', sans-serif;
    }
     position: relative;
     background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/450.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    #section1{
        >span{
            font-weight: bold;
            color: rgb(227, 227, 227);
            font-family: 'Poppins', sans-serif;
        }
        >div{
            background-color: rgba(0, 0, 0, 0.749);
            color: white;
            >div{
                background-color: rgba(0, 0, 0, 0.749);
                &:nth-of-type(1){
                    color: white;
                    background-color: rgba(88, 253, 121, 0.788);
                    input{
                        background-color: rgba(255, 255, 255, 0.822);
                        caret-color : rgb(20, 179, 60);
                        color: rgb(35, 35, 35);
                        
                    }
                    button{
                        color: black;
                        border: 1px solid rgb(28, 28, 28);
                        background-color: rgba(255, 255, 255, 0.822);
                        &:active{
                            transform: scale(0.96);
                        }
                    }
                }
                &:nth-of-type(2){
                    >div{
                          &:nth-of-type(1){
                            border-bottom: 1px solid white;
                          }
                          &:nth-of-type(2){
                            position: relative;
                            color: rgb(82, 255, 47);
                            
                            >span{
                                color: white;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                span{
                                    &:nth-of-type(1){
                                        color: rgb(247, 82, 11);
                                    }
                                    &:nth-of-type(2){
                                        color: rgb(0, 195, 255);;
                                    }
                                }
                            }
                          }
                          &:nth-of-type(4){
                            border-top: 1px solid white;
                            color: white;
                            span{
                                color: white
                            }
                          }
                    }
                }
            }

        }
        .up{
            color: rgb(247, 82, 11);
        }
        #up{
            color: rgb(247, 82, 11);
        }
        .down{
            color: rgb(0, 195, 255);
        }
        #down{
            color: rgb(0, 195, 255);
        }
    }
    #pop{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 179, 0);
        color: white;
        display: none;
        span{
            position: absolute;
            color: white;
            cursor: pointer;
        }
    }
}
